.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.chart-wrapper {
  height: 100%;
  width: 100%;
}

.total {
  margin-top: 100px;
  font-size: 80px;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  height: 20rem;
  width: 40rem;
}

mat-card {
  height: 400px;
}

canvas {
  width: 100%;
}