<div class="grid-container">
  <h1 class="mat-h1">Dados do Cliente</h1>
  <form [formGroup]="customerForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-content>

        <div>
          <ul>
            <li *ngFor="let message of messages"> {{ message }}</li>
          </ul>
        </div>

        <div class="row">
          <mat-form-field class="full-width">
            <label for="name">Nome</label>
            <input matInput type="text" placeholder="Nome" formControlName="name">
            <mat-error *ngIf="customerForm.controls['name'].hasError('required')">
              O nome é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        
        <div class="row">
            <mat-form-field class="full-width">
              <label for="email">E-mail</label>
              <input matInput type="text" placeholder="E-mail" formControlName="email">
              <mat-error *ngIf="customerForm.controls['email'].hasError('required')">
                O E-mail é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width">
            <label for="cpf">CPF</label>
            <input matInput type="text" placeholder="CPF" formControlName="cpf">
            <mat-error *ngIf="customerForm.controls['cpf'].hasError('required')">
              O CPF é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width">
            <label for="phone">Telefone</label>
            <input matInput type="text" placeholder="Telefone" formControlName="phone">
            <mat-error *ngIf="customerForm.controls['phone'].hasError('required')">
              O Telefone é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width">
            <label for="address">Endereço</label>
            <input matInput type="text" placeholder="Endereço" formControlName="address">
            <mat-error *ngIf="customerForm.controls['address'].hasError('required')">
              O Endereço é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="full-width">
            <label for="comments">Observações</label>
            <textarea matInput placeholder="Observações" formControlName="comments"></textarea>
          </mat-form-field>
        </div>
    
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!customerForm.valid">Salvar</button>
        <button mat-raised-button color="primary" routerLink="/customers" style="margin-left: 10px;">Fechar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
